* text=auto

*.fvv text eol=lf linguist-language=V
*.fw text eol=lf linguist-language=V
*.fyl text eol=lf linguist-language=V
*.fww text eol=lf linguist-language=V
*.fws text eol=lf linguist-language=V
*.rpp text eol=lf linguist-language=V

*.md text eol=lf linguist-documentation
*.mkd text eol=lf linguist-documentation
*.mdx text eol=lf linguist-documentation

*.sh text eol=lf
*.rc text eol=lf
*.awk text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.vbs text eol=crlf