* text=auto

*.fvv text eol=lf
*.fw text eol=lf
*.fww text eol=lf
*.rpp text eol=lf
*.rxx text eol=lf
*.r++ text eol=lf
*.rr text eol=lf

*.md text eol=lf
*.mkd text eol=lf
*.mdx text eol=lf

*.sh text eol=lf
*.rc text eol=lf
*.awk text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.vbs text eol=crlf