@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/vitepress.css';
@import 'fumadocs-ui/css/preset.css';

@layer base {
	html {
		text-autospace: normal;
		text-spacing-trim: trim-start;
		font-feature-settings: 'palt';
		font-variant-ligatures: common-ligatures;
		font-optical-sizing: auto;
		/* stylelint-disable-next-line property-no-unknown */
		font-smooth: always;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		hyphens: auto;
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
	}
	footer a {
		@apply text-fd-primary decoration-fd-primary/44 hover:decoration-fd-primary underline decoration-1 underline-offset-4 transition-colors;
	}
}