[*]
indent_size = 4
indent_style = tab
insert_final_newline = false
max_line_length = 106
trim_trailing_whitespace = true
ij_continuation_indent_size = 8

[{*.yml,*.yaml}]
indent_size = 2
indent_style = space

[{*.md,*.mkd,*.mdx}]
indent_size = 2
indent_style = space